body{
    background-color: darkgray;
    margin-right: 30%;
    margin-left: 30%;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    padding-left: 10px;
    padding-right: 10px;
}

h1{
    text-align: center;
    
}

#header {
    background-color: blue;
    text-align: center;
    border-width: 25%;
    border-style: solid;
    border-radius: 0%;
}

img{
    border-radius: 50%;
    width: 40%;
    Height: 25%;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    display: block;
    margin-left: 25%;
    margin-right: 25%;
}

#list {
    border-width: 1px;
    border-style: solid;
    border-color: black;
    padding: 15px;
    margin-left: 35%;
}

#navlinks {
    position: fixed;
}

#footer {
    background-color: yellow;
    padding: 15px;
    font-size: 90%;
    text-align: center;
    border-width: 1px;
    border-style: solid;
    border-color: black;
}